{% extends './base.html' %}

{% block content %}

<section class="section", style="text-align: center;">
    <div class="container">
        <h1 class="title", style="color: blueviolet;">Sobre</h1>
        <h2 class="subtitle;">
            <br>
        <p style="text-align: justify; color: blueviole;">
            <h2>Motivos do blog ter sido criado e continuado.</h2>
            <br>
<h3>Primeiramente gostaria de agradecer a sua leitura desse pequeno textinho hihi</h3>
<br>
<h3>Sendo bem sincero os motivos que me levaram a escrever esse blog foram bem simples... </h3>
<br>
<h3>Na verdade é bem simples... Eu estou aprendendo Django (Framework Python) e se você leu o
último post sabe do que estou falando, a questão é:</h3>
<h3>
Por que diabos eu estou escrevendo algo aqui se meu objetivo é apenas aprender?
</h3>
<br>
<h3>Bom, na verdade a intenção era não escrever nada aqui hahaha mas ia ficar muito sem graça, por que motivos um blog existiria se não teria nada escrito nele?? Então resolvi escrever.. Espero que possamos aprender juntos, a priori irei falar apenas de python/django, afinal é o que estou aprendendo no momento, mas quem sabe em um futuro eu possa expandir esse conteúdo, né? hahah vai depender de mim (e de vocês se estiverem lendo isso).
Vamos juntos compartilhar nossas experiências e ajudar uns aos outros a melhorar cada vez mais.. Espero que me ajudem com qualquer coisa, eu não faço a mínina ideia do que estou fazendo hahahahha
Por fim, obrigado mais uma vez, seu tempo é extremamente precioso e fico feliz por pelo gastado com esse pequeno textinho.
</h3>
<br>
Fique bem.
        </p>
        </h2>
    </div>
</section>


{% endblock %}